
table
{
    background-color: white;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    height: auto;
    font-size: large;
    overflow-x: auto;
    
   
}
th, td
{
    border-bottom: 2px solid black;
    height: 10px;
    
}

th
{
    background-color: rgb(209, 153, 84);
    
}

